.App-receipe-search {
    background: url('./static/images/Background-Receipe-Search.jpg') top center;
    background-size: cover;
    height: 300px;
}

.wrap-receipe-search {
    margin-top: 120px;
}

.frontpage-receipe-category {
    margin-top: 1rem;
    img {
        width: 100%;
        height: auto;
        border-radius: 4px;
        margin-bottom: 1rem;
    }
}