.App-receipe-search {
    background: url('./static/images/Background-Receipe-Search.jpg') top center;
    background-size: cover;
    height: 300px;
}

.wrap-receipe-search {
    margin-top: 120px;
}

.frontpage-receipe-category {
    margin-top: 1rem;
    margin-bottom: 4rem;
    img {
        width: 100%;
        height: auto;
        border-radius: 4px;
        margin-bottom: 1rem;
    }

    .category-description {
        min-height: 72px;
    }
}

.receipe-card{
    margin-bottom: 80px;
    h3 {
        font-size: 1.125rem;
        margin-top: 20px;
        color: $gray-500;
    }

    h2{
        font-size: 1.25rem;
        min-height: 72px;
    }
    .receipe-description {
        min-height: 120px;
    }
}

#shuffle-receipe {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    svg {
        margin-top: -3px;
    }
}

footer {
    position: relative;
    h4 {
        margin-bottom: 2rem;
    }
}

#quality-batch-wrapper {
    text-align: center;
    background: url('./static/images/Quality.png') 10px -10px no-repeat;
    background-size: contain;
    width: 80%;
    height: 80%;
    margin-top: -1rem;
}

#quality-batch {
    
}

#quality-batch-text {
    color: $gray-900;
    z-index: 10;
    width: 84px;
    transform: translate(55px, 58px);
    font-weight: 600;
    span {
        display: block;
    }
    span:first-of-type {

    }
    span:last-of-type {

    }
}
